@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import "../../../style.scss";
nav {
  width: 80%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  z-index: 2;
  display: flex;
  gap: 3rem;
  border-radius: 3rem;
  background: rgba(5, 30, 75, 0.397);
  align-items: center;
  justify-content: space-between;
  height: max-content;
  backdrop-filter: blur(1rem);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  padding: 1.5rem 2rem;
    display: none;

    @include tablet{
        display: flex;
        width:50%;
        bottom:7%;
    }

    @include mobile{
        display: flex;
    }

    @include small-mobile{
        display: flex;
    }


  .links-container {
    display: flex;
    gap: 3rem;
    flex: 5;
    justify-content: space-evenly;

    a {
      padding: 0.5rem;
      border-radius: 50%;
      color: $primary-text;
      font-size: 1.4rem;

      @include tablet{
        font-size: 1.8rem;
      }
    }

    .active {
      background: rgba(0, 0, 0, 0.2);
      color: $white;
    }
  }
}
