@import "../../style.scss";

#main{ 
    display: flex;

    @include tablet{
       flex-direction: column;
       margin: 5rem 2rem;
    }

    @include mobile{
        flex-direction: column;
    }
    @include small-mobile{
        flex-direction: column;
    }

    .home-div{
        width:40%;
        @include tablet{
            position: static;
            width:100%;
        }
        @include mobile{
            position: static;
            width:100%;
        }
        @include small-mobile{
            position: static;
            width:100%;
        }
    }

    .container-div{
        width:60%;


        @include tablet{
            position: static;
            width:100%;
        }
        @include mobile{
            position: static;
            width:100%;
        }
        @include small-mobile{
            position: static;
            width:100%;
        }
    }
}