@import "../../../style.scss";

#skills{
    @include container;
    margin-top:7rem;
    .headings{
        h5{}

        h2{}
    }

    .my-skills{
        color: $primary-text;
        @include tablet{
            margin-top:3rem;
        }
        .frontend{

            @include tablet{
                display: flex;
                margin-bottom: 3rem;
                align-items: baseline;
            }
            
            h4{
                padding-top:.8rem;
                
                @include tablet{
                    min-width:30%;
                }
             
            }
            .skills{
                display: flex;
                flex-wrap: wrap;
                gap:1rem;

                
                .skill{
                    @include btn;
                    border:1px solid transparent;
                    border-radius: 0.5rem;
                    color:$primary-text;
                    background: rgba(114, 168, 237, 0.3);
                    transition: all 0.4s ease-in-out;

                    &:hover{
                        border:1px solid $primary-text;
                        background:transparent;
                    }
                }
            }
        }
    
        .backend{

            @include tablet{
                display: flex;
                margin-bottom: 3rem;
                align-items: baseline;
            }
            h4{
                @include tablet{
                    min-width:30%;
                }
            }
            .skills{
                display: flex;
                flex-wrap: wrap;
                gap:1rem;
                .skill{
                    @include btn;
                    border:1px solid transparent;
                    color:$primary-text;
                    border-radius: 0.5rem;
                    background: rgba(114, 168, 237, 0.3);
                    transition: all 0.4s ease-in-out;

                    &:hover{
                        border:1px solid $primary-text;
                        background:transparent;
                    }

                    @include tablet{
                        height:max-content;
                    }
                }
            }
        }

        .languages{

            @include tablet{
                display: flex;
                align-items: baseline;
            }
            h4{
                @include tablet{
                    width:30%;
                    text-wrap: wrap;
                }
            }
            .skills{
                display: flex;
                flex-wrap: wrap;
                gap:1rem;
                .skill{
                    @include btn;
                    border:1px solid transparent;
                    color:$primary-text;
                    border-radius: 0.5rem;
                    background: rgba(114, 168, 237, 0.3);
                    transition: all 0.4s ease-in-out;

                    &:hover{
                        border:1px solid $primary-text;
                        background:transparent;
                    }

                    @include tablet{
                        height:max-content;
                    }
                }
            }
        }
    }
}