@import "../../style.scss";

#home{
    @include container;
    @include flex;
    justify-content: space-between;
    padding:8rem 0 5rem 5rem;
    margin:0;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    width:40%;

    @include tablet{
        position: static;
        width:100%;
        height:max-content;
        padding:3rem 2.5rem 0;
        align-items: center;
        justify-content: center;
        margin-top:5rem;
    }

    @include mobile{
        position: static;
        width:100%;
        height:max-content;
        padding:5rem 2rem 0;
        align-items: center;
        justify-content: center;
    }

    @include small-mobile{
        position: static;
        width:100%;
        height:max-content;
        padding:5rem 2rem 0;
        align-items: center;
        justify-content: center;
    }


    .content-container{
        // border:1px solid white;
        width:100%;

        @include tablet{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        @include mobile{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
  
        @include small-mobile{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
  
        .heading-text{
            color: $white;
            h5{
                font-size: 2rem;
                color:$light;

                @include mobile{
                    font-size: 1.8rem;
                }
                @include small-mobile{
                    font-size: 1.8rem;
                }
            }

            h2{
                font-size: 3.8rem;
                color: $primary;
                margin:.5rem 0 1rem;

                @include mobile{
                    font-size: 3rem;
                }
                @include small-mobile{
                    font-size: 3rem;
                }
            }

            .roles{
                font-size: 2rem;
                
                #heading-1{
                    color: $white;
                }
            }
        }

    }

    .navbar{
        width:100%;
        height:max-content;
        @include tablet{
            display: none;
        }
        @include mobile{
            display: none;
        }
        @include small-mobile{
            display: none;
        }
        .nav-links{
            display: flex;
            flex-direction: column;
            font-size: 1.3rem;
            gap:1rem;

            @include desktop{
                gap:3rem;
            }
            a{
                color:$light;
                display: flex;
                align-items: center;
                gap:.5rem;
                width:25%;
                transition: all 0.2s ease-in-out;

                &:hover{
                    width:100%;
                    color:$white;
                }
                .nav-line{
                    display: flex;
                    height:1.5px;
                    width: 25%;
                    background-color: $light;
                    transition: all 0.4s ease-in-out;
                }
            }
        }
    }
    .socials{
        // border:1px solid white;
        margin-top:2rem;
        align-self: flex-start;
        width:max-content;

        @include tablet{
            width:100%;
            align-self: center;
        }
        @include mobile{
            width:100%;
            align-self: center;
        }

        @include small-mobile{
            align-self: center;
        }
    }
    .cta-container{
        margin-top:2rem;
        width:100%;
        display: flex;
        justify-content: flex-start;

        @include tablet{
            justify-content: center;
        }

        @include mobile{
            justify-content: center;
        }
        @include small-mobile{
            justify-content: center;
        }

    }
}