@import "../../../style.scss";

#projects{
    width:100%;
    max-height: max-content;
    margin-top:12rem;

    @include mobile{
        margin-top: 8rem;
    }
    @include small-mobile{
        margin-top: 8rem;
    }
    .headings{
        margin-bottom:3rem;
    }

    .projects-container{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        .project{
            display: flex;
            color:$white;
            transition: all .3s ease;
            margin-bottom:4rem;

            @include mobile{
                flex-direction: column-reverse;
                gap:1rem;
                background: rgba(77, 91, 110, 0.2);
                color:$primary;
                padding:2rem 2rem 2rem;
                border-radius: 1rem;
                margin-bottom:2rem;
            }
            @include small-mobile{
                flex-direction: column-reverse;
                gap:1rem;
                background: rgba(77, 91, 110, 0.2);
                color:$primary;
                padding:2rem 2rem 2rem;
                border-radius: 1rem;
                margin-bottom:2rem;
            }
            &:hover{
                background: rgba(77, 91, 110, 0.2);
                color:$primary;
                padding:2rem 2rem 2rem;
                border-radius: 1rem;
            }
            .project-image{
                width: 30%;
                z-index: 1;
                max-height: fit-content;

                @include mobile{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                @include small-mobile{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                img{
                    width:90%;
                    object-fit: cover;

                    @include mobile{
                        width:100%;
                        margin:1rem 0; 
                    }
                    @include small-mobile{
                        width:100%;
                        margin:1rem 0;
                    }
                }
                .project-links{
                    display: flex;
                    width:90%;
                    justify-content: center;
                    gap:1rem;
                    margin-top:.5rem;
                    text-align: center;
                    z-index: 1;

                    @include mobile{
                        width:100%;
                        justify-content: space-between;
                    }
                    @include small-mobile{
                        width:100%;
                        justify-content: space-between;
                    }

                    .project-link.live{
                            @include btn;
                            color: $primary;
                            transition: all 0.4s ease-in-out;
                            font-size: 1.2rem;
                            padding:.5rem 1rem;
                            width:50%;
                            border-color: transparent;
                            background:$primary-text;
                            color:$background;
                            @include mobile{
                                padding:1rem;
                            }
                            @include small-mobile{
                                padding:1rem;
                            }
            
                    }
                    .project-link.github{
                        @include btn;
                        background-color: $primary;
                        color:$background;
                        border-color: transparent;
                        font-size: 1.2rem;
                        transition: all 0.4s ease-in-out;
                        padding:.5rem 1rem;
                        width:50%;
                        border-color: $primary-text;
                        background:transparent;
                        color:$primary-text;
                        &:hover{
                            border:1px solid $primary-text;
                            color:$primary-text;
                            background:transparent;
                        }
                        @include mobile{
                            padding:1rem;
                        }
                        @include small-mobile{
                            padding:1rem;
                        }
                    }
                }
            }

            .project-info{
                width:70%;

                @include mobile{
                    width: 100%;
                }
                @include small-mobile{
                    width: 100%;
                }
                h4{
                    font-size: 1.5rem;
                    margin-top:0;

                    @include tablet{
                        font-size: 1.8rem;
                    }
                    @include mobile{
                        text-align: center;
                        color:$white;
                    }
                    @include small-mobile{
                        text-align: center;
                        color:$white;
                    }
                }

                .project-desc{
                    color:$light;
                    margin:1rem 0;
                    font-size: 1.3rem;
                    line-height: 1.8rem;
                    @include tablet{
                        font-size: 1.5rem;
                    }

                    @include mobile{
                        font-size: 1.3rem;
                    }
                    @include small-mobile{
                        font-size: 1.3rem;
                    }
                    ul{
                        list-style-type: square;
                        padding-left: 2rem;
                    }
                }

                .tech-stack{
                    display: flex;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    
                    @include tablet{
                        justify-content: flex-start;
                        gap:1rem;
                    }

                    
                    @include mobile{
                        justify-content: flex-start;
                        gap:1rem;
                        font-size: 1.2rem;
                    }
                    @include small-mobile{
                        justify-content: flex-start;
                        gap:1rem;
                        font-size: 1.2rem;
                    }
            
                    .stack{
                        width:max-content;
                        padding:.5rem;
                        border-radius: .8rem;
                        color:$primary-text;
                        background: rgba($color:$primary-text , $alpha: .2);
                        transition: all .3s ease;
                        @include tablet{
                            font-size: 1.3rem;
                        }

                    
                    }
                }
            }
        }
    }

}