@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');





/****************** COLORS ************************/
$primary: #3eb5ff;
$primary-text: rgb(171, 213, 255);
$light: rgb(142, 155, 182);
$white: #ffffff;
$background: #021934;



/****************** MIXINS ************************/
@mixin container{
    margin:4rem 0;
    height: max-content;
    width:100%;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin btn {
    padding:1.2rem 1.4rem;
    width:max-content;
    border:1px solid $light;
    color:$white;
    border-radius: .8rem;
    font-size: 1.4rem;
}





/****************** MEDIA QUERIES (MIXINS) ************************/
@mixin tv {
    @media screen and (min-width:1400px){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:1200px) and (max-width:1399px){
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width:992px) and (max-width:1199px){
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width:768px) and (max-width:991px){
        @content;
    }
}

@mixin mobile {
    @media screen and (min-width:567px) and (max-width:767px){
        @content;
    }
}

@mixin small-mobile {
    @media screen and (max-width:566px){
        @content;
    }
}






/****************** MAIN STYLES ************************/
*{
    margin:0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}


body{
    background-color: $background;
}

html{
    color:white;
    scroll-behavior: smooth;
    font-size: 100%;


    @include tv(){
        font-size: 100%;
    }
    @include desktop(){
        font-size: 75%;
    }
    @include laptop(){
        font-size:75%;
    }
    @include tablet(){
        font-size: 80%;
    }
    @include mobile(){
        font-size: 75%;
    }
    @include small-mobile(){
        font-size: 70%;
    }
}

::-webkit-scrollbar{
    display: none;
}


a{
    text-decoration: none;
}


/****************** CLASSES ************************/


.heading1{
    font-size:3rem;
    color:$primary;
    text-align: center;
}

.heading2{
    font-size: 1.6rem;
    color:$light;
    text-align: center;
}

.heading3{
    margin:2.5rem 0 1rem;
    color:$light;
    font-size: 1.8rem;
}




