@import "../../../style.scss";

.cta{
    @include flex;
    flex-direction: row;
    // border:1px solid white;
    width:max-content;
    gap:3rem;
    font-size: 1.8rem;

    @include tablet{
        width:80%;
        gap:6rem;
    }

    .resume{
        @include btn;
        border-color: $primary;
        color: $primary;
        transition: all 0.4s ease-in-out;
        font-size: 1.3rem;
        padding:1.2rem 1rem;
        
        &:hover{
            border-color: transparent;
            background:$primary-text;
            color:$background;
        }
    }
    .contact{
        @include btn;
        background-color: $primary;
        color:$background;
        border-color: transparent;
        font-size: 1.3rem;
        transition: all 0.4s ease-in-out;
        padding:1.2rem 1rem;

        &:hover{
            border:1px solid $primary-text;
            background:$primary-text;
        }
    }
}